<h1><%= @sub.title %></h1>
<h3>By <%= @sub.moderator.username %></h3>

<%= @sub.description %>
<br><br>
  <% if current_user.id == @sub.moderator.id %>
    <%= button_to "Edit", edit_sub_url, method: :get %>
  <% end %>
<%= button_to "Make some snarky comment", new_post_url, method: :get %>

<br><br>

<% @sub.posts.each do |post| %>
  <%= post.user.username %> posted
  <%= post.content %><br>
  <% if post.user.id == current_user.id %>
    <%= button_to "Hide in shame", posts_url(post), method: :delete %>
  <% end %>
<% end %>
<br>

<%= link_to "Back to Index", subs_url %>
